body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}
 
.container {
    text-align: center;
    margin-top: 120px;
}
 
h1 {
    color: #0078D7;
}
 
button {
    background: #0078D7;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
 
button:hover {
    background: #005fa3;
}
 
#message {
    margin-top: 20px;
    color: green;
    font-size: 18px;
}
